In [4]:
# Import Libaries
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
%matplotlib inline
plt.style.use('ggplot')
from matplotlib import colors
from matplotlib import gridspec
from matplotlib.ticker import StrMethodFormatter
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import pickle

In [44]:
data = pd.read_pickle('LSWMD.pkl')

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 811457 entries, 0 to 811456
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   waferMap        811457 non-null  object
 1   dieSize         811457 non-null  float64
 2   lotName         811457 non-null  object
 3   waferIndex      811457 non-null  float64
 4   trianTestLabel  811457 non-null  object
 5   failureType     811457 non-null  object
dtypes: float64(2), object(4)
memory usage: 37.1+ MB

In [46]:
data.head(10)

,waferMap,dieSize,lotName,waferIndex,trianTestLabel,failureType
0,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,1.0,[[Training]],[[none]]
1,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,2.0,[[Training]],[[none]]
2,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,3.0,[[Training]],[[none]]
3,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,4.0,[[Training]],[[none]]
4,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,5.0,[[Training]],[[none]]
5,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,6.0,[[Training]],[[none]]
6,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,7.0,[[Training]],[[none]]
7,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,8.0,[[Training]],[[none]]
8,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,9.0,[[Training]],[[none]]
9,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,10.0,[[Training]],[[none]]

In [47]:
for col in data.columns:
    print(col)

waferMap
dieSize
lotName
waferIndex
trianTestLabel
failureType

In [55]:
grouped = data.groupby('dieSize').sum().reset_index()
grouped.sort_values('waferIndex', ascending=False)

     dieSize  waferIndex
206    710.0    870434.0
95     515.0    593133.0
207    712.0    552493.0
564   1513.0    512093.0
226    776.0    381629.0
..       ...         ...
825   2758.0         1.0
804   2581.0         1.0
663   1825.0         1.0
547   1472.0         1.0
373   1098.0         1.0

[1266 rows x 2 columns]

In [49]:
data.groupby(['dieSize', 'lotName']).size().reset_index(name='counts')

       dieSize   lotName  counts
0          3.0  lot44867       1
1         12.0    lot292       1
2         21.0    lot292       2
3         31.0  lot45034       1
4         34.0  lot40645       1
...        ...       ...     ...
54309  43935.0  lot15297       3
54310  48099.0  lot15277       7
54311  48099.0  lot15278       2
54312  48099.0  lot15279       4
54313  48099.0  lot15302       3

[54314 rows x 3 columns]

In [50]:
data.trianTestLabel = data.trianTestLabel.astype(str)
print(data['trianTestLabel'].unique())

["[['Training']]" '[]' "[['Test']]"]

In [51]:
data.groupby(['trianTestLabel']).size().reset_index(name='counts')

   trianTestLabel  counts
0      [['Test']]  118595
1  [['Training']]   54355
2              []  638507

In [52]:
data.failureType = data.failureType.astype(str)
print(data['failureType'].unique())

["[['none']]" "[['Loc']]" '[]' "[['Edge-Loc']]" "[['Center']]"
 "[['Edge-Ring']]" "[['Scratch']]" "[['Random']]" "[['Near-full']]"
 "[['Donut']]"]

In [54]:
data.groupby(['failureType']).size().reset_index(name='counts')

       failureType  counts
0     [['Center']]    4294
1      [['Donut']]     555
2   [['Edge-Loc']]    5189
3  [['Edge-Ring']]    9680
4        [['Loc']]    3593
5  [['Near-full']]     149
6     [['Random']]     866
7    [['Scratch']]    1193
8       [['none']]  147431
9               []  638507